.splide__arrow {
  background: none;
  font-size: 2rem;
}
.splide__arrow svg {
  width: 70px;
  height: 70px;
  fill: var(--secondary);
}
@media (max-width: 512px) {
  .splide__arrow svg {
    width: 40px;
    height: 40px;
  }
}
